/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

code {
  pre {
    background-color: #eee;
    border-radius: 10px;
    margin: 0;
    padding: 0.5rem 0;
    border: 1px solid #ddd;
  }
}

section.numbers-diagram {
  background-color: #efefef;
  margin-top: 30px;

  .row {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;

    .number {
      background-color: rgba(0, 0, 0, 0.05);
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      font-weight: bold;

      &.left {
        color: #3F51B8;
      }
      
      &.right {
        color: #ff4081;
      }
    }

    .arrow {
      flex: 1;
      height: 5px;
      border-radius: 5px;
      background-color: #aaa;
      position: relative;

      &:after {
        width: 10px;
        height: 10px;
        content: " ";
        position: absolute;
        right: 0;
        top: -8px;
        border: solid #aaa;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
      }
    }

    & + .row {
      margin-top: 10px;
    }
  }
}